@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

/*Custom ScrollBar*/

@media only screen and (min-width: 600px) {


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0A192F;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffb703;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffb703;
}

}
/*Prevent horizontal scrolling*/

html, body {
  max-width: 100%;
  overflow-x: hidden;
}